@mixin item-title($size) {
    margin: 25px 20px 0px 20px;
    font-weight: 400;
    font-size: $size;
    line-height: 16px;
    color: #000000;
}

@mixin text ($color, $size) {
    font-weight: 400;
    font-size: $size;
    line-height: 19px;
    color: $color;
}

@mixin box-shadow {
    box-shadow: -10px 10px 31px -3px rgba(0,0,0,0.61);
    -webkit-box-shadow: -10px 10px 31px -3px rgba(0,0,0,0.61);
    -moz-box-shadow: -10px 10px 31px -3px rgba(0,0,0,0.61);
}

@mixin box-shadow-pink {
    box-shadow: -5px 5px 17px -3px $pink-color;
-webkit-box-shadow:-5px 5px 17px -3px $pink-color;
-moz-box-shadow: -5px 5px 17px -3px $pink-color;
}