$main-color:#222224;
$pink-color: #F16D7F;
$wrapper-laptop:984px; // 1024 - 20 - 20 
$wrapper-tablet:728px; // 768 - 20 - 20
$wrapper-phone:395px; // 425 -15 -15
// media
$media-laptop:1200px;
$media-tablet:800px; // $wrapper-tablet + 20px
$media-phone:425px;
$media-phoneS:320px;