$main-color:#222224;
$wrapper-laptop:1064px; // 1024 +20 + 20 
$wrapper-tablet:780px; // 740 + 20 + 20
$wrapper-phone:380px; // 340 + 20 + 20
// media
$media-tablet: 800px; // $wrapper-tablet + 20px
$media-phone:400px;